* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2px;
}

/* .app_container {
  width: 90%;
  margin: auto;
} */

.tableContainer {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "missions rockets";
  /* margin: 0.5rem 0 1rem 0; */
  text-align: center;
  background-color: var(--color-white);
}

.missions {
  grid-area: missions;
}

.rockets {
  grid-area: rockets;
}

h1 {
  margin: 0.5rem;
  font-size: 1rem;
  text-align: left;
  padding-left: 0.5rem;
}

.itemsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  display: flex;
  font-size: 1rem;
  font-style: italic;
}

.listBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  padding: 0.25rem;
  width: 90%;
}

.listName {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  h1 {
    margin: 1rem;
    font-size: 1rem;
  }

  .itemsList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .listBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
  }

  .listName {
    font-size: 1rem;
    margin-left: 2rem;
  }
}
